<template>
	<div>
		<section class="content">
        <div class="row justify-content-around">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary mt-3">
              <div class="card-header">
                <h3 class="card-title">Add New Category</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form">
                <div class="card-body">
                  <div class="form-group">
                      <label for="categoryId">Add New Category</label>
                      <input type="text" class="form-control" id="categoryId" placeholder="Add New Category" v-model="form.cat_name" name="cat_name" :class="{ 'is-invalid': form.errors.has('cat_name') }">
                      <div v-if="errors.cat_name">
                        <span v-for="error of errors.cat_name" class="text-danger">{{ error }}</span>
                      </div>
                      <!-- <has-error :form="form" field="cat_name"></has-error> -->
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" @click.prevent="addCategory()" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>
	</div>
</template>

<script>
	export default {
        name: "New",

        data(){
            return {
              url : base_url,
              errors: [],
              form: new Form({
                cat_name: ''
              })
            }
        },
        methods: {
            addCategory(){
              axios.post(base_url+'store-category',this.form)
                .then((response) => {
                  // this.$route.push('/category-list')
                  this.$router.push({name: 'category-list', params: { id: 1 }})         
                    Toast.fire({
                      icon: 'success',
                      title: 'Category added successfully'
                    })
                  console.log('added successfully')
                })
                .catch(error => this.errors = error.response.data.errors)
            }
        },
   }
</script>
<style scoped>
	
</style>