<template>
	<div>
    <section class="content">
        <div class="row justify-content-around">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary mt-3">
              <div class="card-header">
                <h3 class="card-title">Update Category</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" @submit.prevent="update()">
                <div class="card-body">
                  <div class="form-group">
                      <label for="categoryId">Edit Category</label>
                       <input type="text" class="form-control" v-model="form.cat_name" name="cat_name" >
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">{{ button_name }}</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</section>
  </div>
</template>

<script>
	import Vue from 'vue'
  export default {
        name: "editCat",

        data(){
        	return {
        		form: {
        			id: this.$route.params.data.id,
        			cat_name : '',
        		},
            errors : [],
            button_name : 'Update'
        	}
        },

        mounted() {
          if ('data' in this.$route.params) {
            this.form.cat_name = this.$route.params.data.cat_name
          }
        },
        // computed(){
        // 	Vue.$on('edit-category',function(data){
        // 		this.setData(data);
        // 	})
        // },

        methods: {
        	update(){
            this.button_name = 'Saving...'
        		axios.post(base_url+'update/category',this.form)
            .then(response => {
              this.button_name = 'Update'
                this.$router.push({name: 'category-list', params: { id: 1 }})         
                    Toast.fire({
                      icon: 'success',
                      title: response.data.message
                    })
                  console.log(response.data.message)
            })
            .catch(error => console.log(error))
        		// this.form.cat_name = data.cat_name
        	}
        },
   }
</script>
<style scoped>
  
</style>