<template>
	<div>
    <section class="content">
        <div class="row justify-content-around">
		      <div class="col-8">
          <div class="card mt-2">
            <div class="card-header">
              <h3 class="card-title">Category List</h3>
              <div class="card-tools">
                <button class="btn btn-primary float-right">
                  <router-link to="/add-category" style="color:#fff"> Add Category </router-link>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>SL</th>
                  <th>Name</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="dt in alldata.data" :key="dt.id">
                  <td>{{ dt.id }}</td>
                  <td> {{ dt.cat_name }} </td>
                  <td> {{ dt.created_at | timeformat }} </td>
                  <td>
                      <router-link :to="{ name: 'editCategory', params: { data: dt } }" class="btn btn-primary btn-xs">Edit</router-link>
                      <!-- <button class="btn btn-primary btn-xs" @click="EditData(dt)">Edit</button> -->
                      <button class="btn btn-danger btn-xs" @click.prevent="deleteData(dt.id)">Delete</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- <edit-cat></edit-cat> -->
          <pagination :data="alldata" @pagination-change-page="getResults">
            <span slot="prev-nav">&lt; Previous</span>
            <span slot="next-nav">Next &gt;</span>
          </pagination>
          <!-- <pagination :data="alldata" @pagination-change-page="getResults"></pagination> -->
        </div>
      </div>
    </section>
	</div>
</template>
<script>
  
  import Vue from 'vue'
  import Edicat from './editCat'
  Vue.component('pagination', require('laravel-vue-pagination'));
    export default {
      base_url : "{{ url('/') }}"+'/',
      name : "List",
      data(){
        return {
          alldata: {},
          url: base_url,
          ecat: {},
        }
      },

      components: {
       'edit-cat': Edicat,
      },

      mounted() {
        // Fetch initial results
        this.getResults();
        // this.deleteData();
      },
      computed:{
        getAllCategory(){
          return this.$store.getters.getCategory
        },

      },

      methods: {
        getData: function(){
          axios.get(this.url+'get-category-all')
          .then(response => {
            this.alldata = response.data
            console.log(response.data)
          })
          .catch((error) => console.log(error))
        },
          // Our method to GET results from a Laravel endpoint
          getResults(page = 1) {
            axios.get(this.url+'get-category-all?page=' + page)
              .then(response => {
                this.alldata = response.data;
              })
              .catch(error => console.log(error));
          },

          EditData: function(data){
            // $('#exampleModal').modal('show');
            // Vue.$emit('update-brand',data);
            // console.log(data.cat_name)
          },

          deleteData: function(id){

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.value === true) {
                  axios.get(this.url+'remove-category/'+id)
                    .then(response => {
                    Toast.fire({
                       // response.data.type,
                       icon: response.data.status,
                       title: response.data.message
                    })
                  })
                }
              })
          },

      },

      created: function(){
          this.getData()
      },

    } 
</script>