<template>
	<div>
		<nav class="mt-2">
	        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
	          <!-- Add icons to the links using the .nav-icon class
	               with font-awesome or any other icon font library -->
	          <li class="nav-item has-treeview">
	            <a href="#" class="nav-link">
	              <i class="nav-icon fas fa-tachometer-alt"></i>
	              <p>
	                Dashboard
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </a>
	          </li>
	          <li class="nav-item has-treeview">
	            <router-link :to="{ name: 'posts' }" class="nav-link">
	              <i class="nav-icon fas fa-tachometer-alt"></i>
	              <p>
	                Post
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </router-link>
	          </li>
	          <li class="nav-item has-treeview">
	            <router-link :to="{ name: 'category-list'}" class="nav-link">
	              <i class="nav-icon fas fa-tachometer-alt"></i>
	              <p>
	                Category
	                <i class="right fas fa-angle-left"></i>
	              </p>
	            </router-link>
	          </li>
	        </ul>
	      </nav>
	      <!-- /.sidebar-menu -->
	    </div>
</template>
