<template>
	<div>
    <section class="content">
        <div class="row justify-content-around">
		  <div class="col-10">
          <div class="card mt-2">
            <div class="card-header">
              <h3 class="card-title">Post List</h3>
              <div class="card-tools">
                <button class="btn btn-primary float-right">
                  <router-link to="/add-post" style="color:#fff">Create Post</router-link>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>SL</th>
                  <th>User</th>
                  <th>Post</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="post in getAllPost" :key="post.id">
                  <td>{{ post.id }}</td>
                  <td>{{ post.user_id }}</td>
                  <td style="width: 50%">{{ post.title }}</td>
                  <td>
                      <a href="#" class="btn btn-primary btn-xs">Edit</a>
                      <button @click.prevent="deletePost(post.id)" class="btn btn-danger btn-xs">Delete</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- <pagination :data="allpost" @pagination-change-page="getPosts">
            <span slot="prev-nav">&lt; Previous</span>
            <span slot="next-nav">Next &gt;</span>
          </pagination> -->
          <!-- <pagination :data="allpost" @pagination-change-page="getPosts"></pagination> -->
        </div>
      </div>
    </section>
	</div>
</template>
<script>
  // import Swal from 'sweetalert2'
  // import Vue from 'vue'
  // Vue.component('pagination', require('laravel-vue-pagination'));
    export default {
      base_url: "{{ url('/') }}"+'/',
      name : "Post",
      data(){
        return {
          // allpost: {},
          url: base_url,
        }
      },
      mounted() {
        // Fetch initial results
        // this.getPosts();
          this.$store.dispatch("allPost")
      },
      computed:{
          getAllPost(){
            return this.$store.getters.getPost
          } 
      },
      methods: {
            deletePost(id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                  }).then((result) => {
                    if (result.value === true) {
                      axios.get(this.url+'delete-post/'+id)
                        .then(response => {
                          this.$store.dispatch("allPost")
                        Toast.fire({
                           // response.data.type,
                           icon: response.data.status,
                           title: response.data.message
                        })
                      })
                    }
                  })

              // console.log(id)
            },
          // Our method to GET results from a Laravel endpoint
          /*getPosts(page = 1) {
            axios.get(this.url+'get-post-all?page=' + page)
              .then(response => {
                this.allpost = response.data;
              })
              .catch(error => console.log(error));
          }*/
      },

     /* created(){
        axios.get(this.url+'get-post-all')
          .then(response => {
            this.allpost = response.data
            console.log(response.data)
          })
          .catch((error) => console.log(error))
      }, */
    } 
</script>